@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
    font-family: 'Tilt Prism', cursive;
    
}

h1 {

    text-align: center;
}

.level {
   /* Set the width and height of the body to 100% */
   width: 100%;
   height: 100%;

   /* Add a solid border around the body with a thickness of 1px */
   border: 1px solid rgb(212, 171, 94);

   /* Center the body horizontally using flexbox */
   /* display: flex; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   
}


.converter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

label {
    font-size: 20px;
    margin: 10px;
}

input[type="number"] {
    font-size: 20px;
    padding: 5px;
    width: 150px;
    margin: 30px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}